*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f89a0a;
  --clr-dark: #333333;
  --clr-price: #B99028;
  --clr-light: #fff;
  --fw-regular: 300;
  --fw-medium: 400;
  --fw-bold: 600;
  --fw-black: 600;
  --grid: minmax(2em, 0%) 
          
          
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
  font-size: 1.125rem;
  color: var(--clr-light);
  line-height: 1.62;
  background: gray;
}
h1,
h2,
h3 {
  line-height: 1;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--clr-primary);
  border-radius: 30px;
  color: var(--clr-light);
  font-weight: var(--fw-regular);
  letter-spacing: -0.02em;
  margin-left: 1.2em;
}

.btn--primary:hover {
  background-color: var(--clr-dark);
  font-weight: var(--fw-regular);
  letter-spacing: -0.02em;
  margin-left: 1.2em;
}

.nav__link1 {
  border: 1px solid var(--clr-dark);
  display: inline-block;
  padding: 0 10px;
  color: var(--clr-dark);
  border-radius: 26px;
  text-decoration: none;
  color: var(--clr-dark);
}

.nav__link1:hover {
  text-decoration: none;
  color: var(--clr-dark);
  background: var(--clr-dark);
  outline-color: var(--clr-dark);
  text-decoration: none;
  color: var(--clr-light);
}

.navbar__toogleBtn{
  display:none;
  position:absolute;
  right:16px;
  font-size: 24px;
  color:#000000

}
.main__title {
  line-height: 1;
  font-weight: var(--fw-regular);
  font-size: 3.125rem;
  margin-top: 2.5em;
  margin-bottom: 0.4em;
  margin-left: 0.5em;
  letter-spacing: -0.01em;
}

.main--content {
  background-image: 
  linear-gradient(to bottom, rgba(102, 102, 102, 0.32) 48.95%, rgba(180, 177, 177, 0.32) 93.71%),
  url(bobqlanding.png);
  background-size: cover;
  height: 100vh;
  letter-spacing: -0.01em;
}

.main__intro {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  font-size: 1.325rem;
  margin-left: 1.2em;
  
}
.nav__list {
  display: flex;
  justify-content: space-between;
  column-gap: 2.875rem;
  margin-right: auto;
  margin: 0;
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 1.375 rem;
  font-weight: var(--fw-regular);
  float: right;
  letter-spacing: -0.02em;
}

header {
  background-color: var(--clr-light);
  padding: 1.5em;
  text-align: center;
}

.logo{
  margin-top :0em;
}

.nav__list-item{
  margin-left:1em;
  margin-right:0.5em;
}

.nav__link {
  text-decoration: none;
  color: var(--clr-dark);
}

.nav__link:hover {
  color: var(--clr-primary);
}

.title-content{
  background-color: #ffffff;
  padding:20px;
}

.container{
  display:flex;
  justify-content: center;
  background:#ffffff;
  padding:20px;
  flex-wrap:wrap;
}

.container__title{
  padding:30px;
  text-align: center;
  color: var(--clr-dark);
  font-weight: var(--fw-medium);
  font-size:50px;
  letter-spacing: -0.035em;
}

.container__title:before{
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: -210px;
  left: 46%;
  border-bottom: 4px solid #F89A0A;
}


.container__explain{
  padding:8px;
  text-align: center;
  color: var(--clr-dark);
  font-weight: var(--fw-regular);
  font-size:24px;

}

.card{
  background:white;
  width: 342px;
  height: 500px;
  left: 121px;
  top: 1299px;
  margin:35px;
  border-radius:21px;
  color: var(--clr-dark);
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);

}

.card-image {
  height: 230px;
  margin-bottom: 70px;
  background-repeat: no-repeat;
  background-position: bottom;
}


.footer_container{
    display:flex;
    padding:80px;
    justify-content: center;
    background:#000000;
    flex-wrap:wrap;
  }

.foodtitle{
  font-weight: var(--fw-medium);
  padding:10px;
}

.foodprice{
  font-weight: var(--fw-regular);
  color:var(--clr-price);
  padding:0 px;
}

.foodsummary{
  font-weight: var(--fw-regular);
  padding:20px;
}

.car-1 {
  background-image:url('beefbulgogi.svg')
}

.car-2{
  background-image:url('spicypork.svg')

}

.car-3{
  background-image:url('garlictofu.svg')

}


.aboutuscard{
  background:white;
  width: 1191px;
  height: 1080px;
  left: 127px;
  top: 194px;
  margin:50px;
  border-radius:30px;
  color: var(--clr-dark);
  text-align: left;
  box-shadow: -2px 3px 23px 6px rgba(0, 0, 0, 0.25);

}

.aboutuscontainer{
  background-image: url(aboutpageimage.svg);
  height: 150vh;
  letter-spacing: -0.01em;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.aboutuscontent{
  margin:50px;
  text-align: center;
}


.faqcard{
  background:white;
  width: 1191px;
  height: 1180px;
  left: 127px;
  top: 194px;
  margin:50px;
  border-radius:30px;
  color: var(--clr-dark);
  text-align: left;
  box-shadow: -2px 3px 23px 6px rgba(0, 0, 0, 0.25);

}

.faqcontainer{
  background-image: url(aboutpageimage.svg);
  height: 162vh;
  letter-spacing: -0.01em;
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

.faqcontent{
  margin-top:100px; 
  margin-bottom:40px;
  border-left: 7px solid #f89a0a;
  height: 140px;
  margin-left: 1.0em;
  padding:15px; 
  text-align: left;
  font-size:70px;
  font-weight:var(--fw-bold);
  letter-spacing: -0.045em;
}

.faqq{
  margin-left: 3.0em;
  font-weight: var(--fw-bold);
  font-size:24px;
  letter-spacing: -0.03em;
  text-align: left;
  
}

.faqa{
  margin-left: 3.0em; 
  font-weight: var(--fw-regular);
  font-size:24px;
  letter-spacing: -0.03em;
  text-align: left;
  
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.logo1{
  width: 23%;
  padding: 0 60px;
}


.footer-col{
   width: 18%;
   padding: 0 40px;
}
.footer-col h4{
	font-size: 18px;
	text-transform: capitalize;
	margin-bottom: 10px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #f89a0a;
}

/*responsive*/
@media(max-width: 700px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}


@media screen and (max-width:700px){

  
  .main__title {
  line-height: 1;
  font-weight: var(--fw-bold);
  font-size: 2.125rem;
  margin-top: 2.5em;
  margin-left: 0.8em;
  letter-spacing: -0.01em;
  }

  .main__intro {
    margin-bottom: 2em;
    margin-left: 1.5em;
    font-size: 1.025rem;
    margin-left: 1.7em;
    
  }

  .nav__list{
    display:none;
    flex-direction: column;
    background-color: #ffffff;
    align-items:flex-start;
    width:100%;
  }

  .nav__list li{
    text-align:center;
    background-color: #ffffff;
    width:90%
  }

  .nav__link1 {
    border: 0px solid var(--clr-dark);
    display: inline-block;
    padding: 0 10px;
    color: var(--clr-dark);
    border-radius: 26px;
    text-decoration: none;
    color: var(--clr-dark);
  }
  
  .nav__link1:hover {
    text-decoration: none;
    color: var(--clr-light);
    background: var(--clr-light);
    outline-color: var(--clr-light);
    text-decoration: none;
    color: var(--clr-primary);
  }
  
  .navbar__toogleBtn{
    display:block;
  }

  .nav__list.active{
    display:flex;
    border-radius: 10px;
  }


  .faqcontainer{
    background-image: url(aboutpageimage.svg);
    height: 107vh;
    letter-spacing: -0.01em;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
  }

  .faqcontent{
    margin-top:40px; 
    margin-bottom:20px;
    border-left: 3px solid #f89a0a;
    height: 70px;
    margin-left: 0.8em;
    padding:10px; 
    text-align: left;
    font-size:30px;
    font-weight:var(--fw-bold);
    letter-spacing: -0.045em;
  }
  
  .faqq{
    margin-left: 2.0em;
    font-weight: var(--fw-bold);
    font-size:12px;
    letter-spacing: -0.03em;
    text-align: left;
    
  }
  
  .faqa{
    margin-left: 2.0em; 
    font-weight: var(--fw-regular);
    font-size:12px;
    letter-spacing: -0.03em;
    text-align: left;
    
  }

  .faqcard{
    background:white;
    width: 1191px;
    height: 750px;
    left: 127px;
    top: 194px;
    margin:50px;
    border-radius:30px;
    color: var(--clr-dark);
    text-align: left;
    box-shadow: -2px 3px 23px 6px rgba(0, 0, 0, 0.25);
  
  }

}




@media (min-width: 700px){
  header{
    display:grid;
    grid-template-columns: var(--grid);
    align-items: center;
  }

  .logo,
  .nav{grid-row:1;
  }
  .logo{
    grid-column: 2;
  }

  .nav {
    grid-column:1/3;
    justify-self:end;
  }
}

.main {
  padding: 3em 1em 10rem;
}

@media (max-width: 300px) {
  .main {
    display: grid;
    grid-template-columns: var(--grid;)
    justify-items: start;
    padding-left:0;
    padding-right:0;

  }
  .main > * {
    grid-column: 2/4;
  }

  .main--content {
    background-position: left bottom;
  }
}

@media (min-width: 1200px) {
  .main--content {
    background-position: center right;
  }
}
